
#Para prueba local
DB_HOST=localhost
DB_NAME=exgradoDB
#DB_USER=usuario para la db
#DB_PASSWORD=su contraseña

JsonWebTokenSecret=jsonWebTokenSecretjsonWebTokenSecretjsonWebTokenSecretjsonWebTokenSecret*123

#SMTP_HOST=192.168.1.14
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
#SMTP_FROM=su correo puede ser personal 
#SMTP_USER=su iguamente pero de gmail
#SMTP_PASS=rbcdiczxmripzdrw